/venv
/.vscode
/.pytest_cache
/__pycache__
/nba_elo_system/tests/__pycache__
/nba_elo_system/tests/.pytest_cache
/nba_elo_system/espn.py
nba_elo_system/__pycache__
/nba_elo_system/nba.db
/nba_elo_system/.pytest_cache