<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    {% block head %}{% endblock %}
</head>
<body class="background-colour">
    <header>
        <nav>
            <div class="nav-logo">
                <div><img src="{{ url_for('static', filename='icons/basketball.png') }}" class="logo"></div>
                <div><h1 class="title">NBA Elo Ratings</h1></div>
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('schedule') }}">Schedule</a></li>
                <li><p>About</p></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-body">
            {% block body %}{% endblock body %}
        </div>
    </main>
    <footer>
        <p>
            &lt;IN DEVELOPMENT | BY ADAM RABIYA&gt;
        </p>
    </footer>
</body>
</html>