:root {
    --background: #171717;
    --background-primary: #CFCFCF;
    --background-secondary: #8C8C8C;
    --text-colour: #fff;
    --accent-colour: #7d7abc;
    --header-padding: 20px 2.5%;
    --main-width: 75%;
    --min-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", sans-serif;
}

.background-colour {
    background: var(--background);
}

.background-secondary {
    background: var(--background-secondary);
}

header {
    align-self: center;
    padding: var(--header-padding);
}

nav {
    min-width: var(--min-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 75px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo h1 {
    font-size:  200%;
    padding-left: 20px;
}

.nav-links {
    padding: 28px 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a, li p {
    text-decoration: none;
    color: var(--text-colour);
    padding: 10px 0;
    position: relative;
}

.nav-links li a::after, li p::after {
    content: '';
    background: var(--accent-colour);
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after, li p:hover::after {
    width: 100%;
}

main {
    margin: auto;
    padding: 0px 15px;
    width: 90%;
    border-radius: 5px;
    min-height: calc(100vh - 119px - 60px);
    position: relative;
    min-width: fit-content;
}

.main-body {
    text-align: center;
    background: var(--background-primary);
    min-height: calc(100vh - 136px * 2);
    width: var(--main-width);
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    min-width: fit-content;
}

.title {
    color: var(--text-colour);
}

.elo-table {
    width: 100%;
    padding: 10px 0;
    margin: auto;    
    border-collapse: separate;
    border-spacing:  0 5px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    min-width: var(--min-width);
}

.elo-table thead .sorting:before,
.elo-table thead .sorting_asc:before,
.elo-table thead .sorting_desc:before,
.elo-table thead .sorting_asc_disabled:before,
.elo-table thead .sorting_desc_disabled:before{
    bottom: 50%;
    content: "▲";
}

.elo-table thead .sorting:after,
.elo-table thead .sorting_asc:after,
.elo-table thead .sorting_desc:after,
.elo-table thead .sorting_asc_disabled:after,
.elo-table thead .sorting_desc_disabled:after{
    top: 50%;
    content: "▼";
}

.elo-table thead th {
    position: relative;
    cursor: pointer;
}
  
.elo-table thead th.sorting:after,
.elo-table thead th.sorting_asc:after,
.elo-table thead th.sorting_desc:after,
.elo-table thead th.sorting:before,
.elo-table thead th.sorting_asc:before,
.elo-table thead th.sorting_desc:before {
    position: absolute;
    display: block;
    opacity: .125;
    right: 0px;
    line-height: 9px;
    font-size: 1em;
}

.elo-table thead th.sorting_asc:before, 
.elo-table thead th.sorting_desc:after {
    opacity: .6;
}

.elo-table-outer-left {
    padding: 10px 5px;
    /* padding-right: 30px; */
    min-width: 80px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.elo-table-team-row {
    padding-left: 15px;
    width: 50%;
}

.elo-table-elo {
    padding-left: 15px;
    min-width: 100px;
}

.elo-table-teams:hover {
    background: var(--background-secondary);
}

.elo-table-change {
    padding-left: 15px;
    min-width: 150px;
}

.elo-table-outer-right {
    padding-left: 15px;
    min-width: 160px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer {
    color: var(--text-colour);
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 136px;
    padding: 58px;
    min-width: var(--min-width);
}